* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Roboto";
    src: url(./fonts/roboto-fontfacekit/web\ fonts/);
}
body {
    display: flex;
    flex-flow: column;
    align-items: center;
}
header {
    font-family: Roboto, "Courier New", monospace;
    font-size: 1.5rem;
}
#book-container {
    border: 5px solid black;
    width: 60%;
    height: 90vh;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}
.book {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    height: 200px;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
dialog {
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 
    padding: 2rem;
    inset: 50% auto auto 50%; /* Centers the dialog */
    transform: translate(-50%, -50%); /* Shifts the box back by half its own size */
}
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}
#dialog form {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}